[submodule "libs/core"]
	path = libs/core
	url = https://github.com/ocl-foss-org/core.git
[submodule "libs/fix"]
	path = libs/fix
	url = https://github.com/ocl-foss-org/fix.git
[submodule "libs/tproc"]
	path = libs/tproc
	url = git@github.com:ocl-foss-org/tproc.git
[submodule "meta/css"]
	path = meta/css
	url = https://github.com/jothepro/doxygen-awesome-css.git
